{% load i18n %}

<ul class="menu mb-4 d-xl-flex flex-wrap align-items-center justify-content-center justify-content-md-between text-center">
  <li class="moonlight-animation">
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'current_lunar_phase' %}fa-caret-right{% endif %} fa-fw"></i>
    </small></small>
    <a href="{% url 'current_lunar_phase' %}">
      {% trans "Home" %}
    </a>
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'current_lunar_phase' %}fa-caret-left{% endif %} fa-fw"></i>
    </small></small>
  </li>
  <!-- <li class="moonlight-animation">
    <a href="#" style="animation-delay: 1s;">
      Base de Conocimiento
    </a>
  </li> -->
  <li class="moonlight-animation">
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'following_lunar_phases' %}fa-caret-right{% endif %} fa-fw"></i>
    </small></small>
    <a href="{% url 'following_lunar_phases' %}" style="animation-delay: 1s;">
      {% trans "Following lunar phases" %}
    </a>
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'following_lunar_phases' %}fa-caret-left{% endif %} fa-fw"></i>
    </small></small>
  </li>
  <li class="moonlight-animation">
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'monthly_calendar' %}fa-caret-right{% endif %} fa-fw"></i>
    </small></small>
    <a href="{% url 'monthly_calendar' year=todays_lunar_phase.datetime.year month=todays_lunar_phase.datetime.month %}" style="animation-delay: 2s;">
      {% trans "Monthly calendar" %} <small><small><small><small><span class="new-label badge bg-danger">{% trans "NEW" %}</span></small></small></small></small>
    </a>
    <small><small>
      <i class="fas {% if CURRENT_URL_NAME == 'monthly_calendar' %}fa-caret-left{% endif %} fa-fw"></i>
    </small></small>
  </li>
  <li class="moonlight-animation">
    <small><small>
      <i class="fas fa-fw"></i>
    </small></small>
    <a href="{{ SOCIAL_NETWORKS.facebook.url }}" style="animation-delay: 3s;">
      {% trans "Our facebook" %}
    </a>
    <small><small>
      <i class="fas fa-fw"></i>
    </small></small>
  </li>
  <li class="moonlight-animation">
    <small><small>
      <i class="fas fa-fw"></i>
    </small></small>
    <a href="{{ SOCIAL_NETWORKS.instagram.url }}" style="animation-delay: 4s;">
      {% trans "Our instagram" %}
    </a>
    <small><small>
      <i class="fas fa-fw"></i>
    </small></small>
  </li>
</ul>
