{% load mathfilters %}

<div class="moon mx-auto my-4" phase="{{ phase }}" style="width: {{ diameter }}px;">
  <svg height="{{ diameter }}" width="{{ diameter | intdiv:2 }}" class="moon-left">
    <circle cx="{{ diameter | intdiv:2 }}" cy="{{ diameter | intdiv:2 }}" r="{{ diameter | intdiv:2 }}" stroke="#fcef8d" fill="#fcef8d" class="bg"/>
    <circle cx="{{ diameter | intdiv:2 }}" cy="{{ diameter | intdiv:2 }}" r="{{ diameter | intdiv:2 }}" stroke="#fcef8d" fill="#fcef8d" class="fg"/>
  </svg><svg height="{{ diameter }}" width="{{ diameter | intdiv:2 }}" class="moon-right">
    <circle cx="0" cy="{{ diameter | intdiv:2 }}" r="{{ diameter | intdiv:2 }}" stroke="#fcef8d" fill="#fcef8d" class="bg"/>
    <circle cx="0" cy="{{ diameter | intdiv:2 }}" r="{{ diameter | intdiv:2 }}" stroke="#fcef8d" fill="#fcef8d" class="fg"/>
  </svg>
</div>
