{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row">

    <div class="col-md-3">
      <ul class="menu my-4">
        <li class="moonlight-animation">
          <a href="{% url 'current_lunar_phase' %}">
            {% trans "Home" %}
          </a>
        </li>
        <li class="moonlight-animation">
          <a href="{{ SOCIAL_NETWORKS.facebook.url }}" style="animation-delay: 1s;">
            {% trans "Our facebook" %}
          </a>
        </li>
        <li class="moonlight-animation">
          <a href="{{ SOCIAL_NETWORKS.instagram.url }}" style="animation-delay: 2s;">
            {% trans "Our instagram" %}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">

      {% include "components/moon.html" with diameter=280  phase=lunar_phase.moon_phase_day %}

      <div class="text-center">
        <h1 class="logo">
          CALENDARIO<span class="moonlight">LUNAR</span>.CL
        </h1>
      </div>


      <div class="day-list mb-4">
        <ul>
          <li class="active">
            {{ lunar_phase.datetime | date }}
          </li>
        </ul>
      </div>

      <div class="text-center">
        <h3 class="title">
          {% trans 'Current Moon Phase' %}: {% trans lunar_phase.name %}
        </h3>
      </div>

    </div>

  </div>

  <div class="row my-4">
    <div class="col-md-12">
      <hr class="dashed" />

      <div class="text-center py-4">
        <h3 class="title">
            <i class="fab fa-pagelines"></i> {% trans 'Crop tips' %}
        </h3>
        <p class="text-justify">
          <ul class="text-justify">
              {% for tip in tips %}
                <li class="text-justify mb-2">
                  <span class="moonlight"><b>{{ tip.title }}:</b></span> {{ tip.message }}
                </li>
              {% endfor %}
          </ul>
        </p>
      </div>

      <hr class="dashed" />
    </div>
  </div>

  <div class="row my-4">
    {% for lunar_phase in following_lunar_phases %}
		<div class="col-md-3 py-4">
			<h4 class="text-center">
				{{ lunar_phase.name }}
			</h4>
			{% include "components/moon.html" with diameter=80  phase=lunar_phase.moon_phase_day %}
			<div class="text-center">
        {{ lunar_phase.datetime | date }}
			</div>
		</div>
    {% endfor %}
	</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script
  			  src="https://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous">
  </script>
  <script>
  $(function(){
		$('.moon').each(function(index){
			var phase = $(this).attr('phase');
			var moon_size = calculateMoonSize($(this), phase);
			var moon_colors = calculateMoonColors(phase);

	    updateMoon($(this), moon_size, moon_colors);
		});
  });


  // Math.radians = function(degrees) {
  //   return degrees * Math.PI / 180;
  // };

  const max_phase = 27;
  const fullmoon_phase = 14;

  function calculateMoonSize(moon_object, phase){
    var current_moon_size = moon_object.width();
    var calculated_moonlight_size = 0;

    var moonlight_percentage =  100 * phase / fullmoon_phase;

    if (moonlight_percentage <= 100){
      calculated_moonlight_size = current_moon_size * moonlight_percentage / 100;
    }
    else{
      calculated_moonlight_size = current_moon_size * (moonlight_percentage - 100) / 100;
    }

    return calculated_moonlight_size;
  }

  function calculateMoonColors(phase){
    const moon_color = '#45484B';
    const moonlight_color = '#EEE6AB';

    var colors = {
      'moon': moon_color,
      'moonlight': moonlight_color
    };

    if (phase <= fullmoon_phase){
      colors.moon = moon_color;
      colors.moonlight = moonlight_color;
    }
    else{
      colors.moon = moonlight_color;
      colors.moonlight = moon_color;
    }

    return colors;
  }

  function updateMoonColors(moon_object, colors){
    // moon-left
    moon_object.find('.moon-left .bg').css({
      'stroke':colors.moon,
      'fill':colors.moon
    });
    moon_object.find('.moon-left .fg').css({
      'stroke':colors.moonlight,
      'fill':colors.moonlight
    });
    // moon-right
    moon_object.find('.moon-right .bg').css({
      'stroke':colors.moonlight,
      'fill':colors.moonlight
    });
    moon_object.find('.moon-right .fg').css({
      'stroke':colors.moon,
      'fill':colors.moon
    });

  }

  function updateMoon(moon_object, phase, colors){
    var current_moon_size = moon_object.width();
    updateMoonColors(moon_object, colors);

    var phaseScale = 1,
        phaseTrans = (current_moon_size/2),
        phaseRight = 0;

    if(phase <= (current_moon_size/2)) {
      phaseRight = (1-phase/(current_moon_size/2));
    }
    moon_object.find('.moon-right .fg').css({
      'transform':'scaleX(' + phaseRight + ')'
    });

    if(phase >= (current_moon_size/2)) {
      phaseScale = (1-(phase-(current_moon_size/2))/(current_moon_size/2));
      phaseTrans = (current_moon_size/2)*phaseScale;
    }
    moon_object.find('.moon-left .fg').css({
      'transform':'translate('+phaseTrans+'px,0) scaleX(' + (1-phaseScale) + ')'
    });
  }

  </script>
{% endblock %}
