{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row my-4">
    <div class="col-md-12">
      <hr class="dashed" />

      <div class="text-center py-4">
        <h3 class="title">
            <i class="fab fa-pagelines"></i> {% trans 'Crop tips' %}
        </h3>
        <p class="text-justify">
          <ul class="text-justify">
              {% for tip in tips %}
                <li class="text-justify mb-2">
                  <span class="moonlight"><b>{{ tip.title }}:</b></span> {{ tip.message }}
                </li>
              {% endfor %}
          </ul>
        </p>
      </div>

      <hr class="dashed" />
    </div>
  </div>

  <div class="row my-4">
    {% for lunar_phase in following_lunar_phases %}
		<div class="col-md-3 py-4">
			<h4 class="text-center">
				{{ lunar_phase.name }}
			</h4>
			{% include "components/moon.html" with diameter=80  phase=lunar_phase.moon_phase_day %}
			<div class="text-center">
        {{ lunar_phase.datetime | date }}
			</div>
		</div>
    {% endfor %}
	</div>

  <div class="row mt-0 mb-4">
		<div class="col-md-6 offset-md-3 py-4 text-center">
      <a class="btn btn-primary" href="{% url 'following_lunar_phases' %}">
        {% trans "See following lunar phases" %}
      </a>
		</div>

	</div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script
  			  src="https://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous">
  </script>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
