{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans "Monthly calendar" %} - calendariolunar.cl
{% endblock %}

{% block description %}
  Calendario Lunar mensual para {{ reference_datetime | date:"F Y " }}
{% endblock %}

{% block content %}
	<div class="row my-4">
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">

			<div class="mb-4 text-center">
				<div class="btn-group rounded-pill" role="group" aria-label="Basic example">

					{% if previous_month_datetime < minimum_datetime %}
						<div class="btn btn-space disabled">
							<i class="fas fa-ban"></i>
						</div>
					{% else %}
						<a class="btn btn-space" href="{% url 'monthly_calendar' year=previous_month_datetime.year month=previous_month_datetime.month %}">
							<i class="fas fa-chevron-left"></i>
						</a>
					{% endif %}

					<button type="button" class="btn btn-space disabled">
						{{ reference_datetime | date:"F Y " }}
					</button>

					{% if following_month_datetime.month > maximum_datetime.month and following_month_datetime.year >= maximum_datetime.year %}
						<div class="btn btn-space disabled">
							<i class="fas fa-ban"></i>
						</div>
					{% else %}
						<a class="btn btn-space" href="{% url 'monthly_calendar' year=following_month_datetime.year month=following_month_datetime.month %}">
							<i class="fas fa-chevron-right"></i>
						</a>
					{% endif %}

				</div>
			</div>

		</div>
	</div>

  <div class="row my-4 monthly-calendar">

	<div class="d-flex flex-row justify-content-center col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			LUN
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			MAR
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			MIE
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			JUE
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			VIE
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			SAB
		</div>
		<div class="m-1 px-1 px-md-4 py-2 btn btn-space disabled rounded w-100 day-header">
			DOM
		</div>
	</div>

	<div class="d-flex flex-row justify-content-center col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 week ">
    {% for lunar_phase in following_lunar_phases %}
		{% if lunar_phase.datetime.date <= maximum_datetime.date and lunar_phase.datetime.date >= minimum_datetime.date %}
			{% include "components/calendar_card.html" %}
		{% else %}
			{% include "components/calendar_nocard.html" %}
		{% endif %}
    {% endfor %}
	</div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script
  			  src="https://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous">
  </script>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
