body{
  color: white;
  font-family: 'Encode Sans', sans-serif;
  background-color: #36393B;
  background-image: url("{% static 'stardust.png' %}");
}

hr.dashed{
  border-color: white;
  border-style: dashed;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Staatliches', cursive;
}

h1{
  font-size: 3rem;
}

h1.logo{
  letter-spacing: -.1rem;
}

h3{
  font-size: 2.4rem;
}

h3.title{
  letter-spacing: -.1rem;
}

.footer{
  display: block;
  text-align: center;
  margin: auto;
}

.day-list{
  display: flex;
  justify-content: center;
}

ul{
  list-style: disc inside;
  padding: 0;
}

.day-list ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.day-list li{
  margin: 0;
  padding: 1rem;
  border: 2px solid white;
  font-weight: 700;
}

.day-list li.active{
  font-size: 1.2rem;
}

.moonlight{
  color: #EEE6AB;
}

.moon-left .bg,.moon-right .bg, .moon-left .fg, .moon-right .fg {
  stroke-width:2px;
}

.moon {
  transform: rotate(180deg);
  width:300px;
}

.moon-left,.moon-right {
  display:inline-block;
  width:150px;
  position:relative;
  margin:0;
}
.moon-left .bg,.moon-right .bg {
  stroke-width:2px;
}

.moon-right .fg {
  stroke-width:2px;
}
.moon-left .bg {
  fill: #45484B;
}
.moon-left .fg {
  fill: #EEE6AB; transform-origin: 0% 0%;
}

.moon-right .fg {
  transform: scaleX(1);
}
.moon-left .fg {
  transform: scaleX(0) translateX(0);
}

.fb-like{
  display: block !important;
  margin: auto;
  width: 300px;
}

.social-icons{
  font-size: 2.8rem;
}

.social-icons a{
  color: white;
  text-decoration: none;
}
